@import url('https://rsms.me/inter/inter.css');

/* BUTTON STYLE */
.btn-link{
  color: #f3f5f7;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  background-color: #033F72;
  border-color: transparent;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #033F72;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(13, 63, 114,.5);
  transition: ease-in-out 0.5s;
}

.btn-tm {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-tm:hover {
  transition: ease-in-out 0.5s;
}

/* RESULTS */
.result_title {
  color: #033F72;
  font-weight: 400;
}

.result_title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.result_date {
  color: #033F72;
  font-weight: 500;
}

.result_score {
  color: #033F72;
  font-weight: 500;
  text-align: right;
  right: 10px;
}

.timematters-button {
  position: fixed;
  right: 10px;
}

/* pagination */

.pagination-wrapper {
  text-align: center;
  margin: 40px 0;
}
.pagination {
  display: inline-block;
  height: 50px;
  padding: 0 15px;
  border-radius: 35px;
  background-color: #eee;
  box-shadow: 0 0 30px 2px grey;
}
@media only screen and (max-width: 1199px) {
  .pagination {
    height: 50px;
    margin-top: 50px;
    padding: 0 10px;
    border-radius: 25px;
  }
}
.page-numbers {
  display: block;
  padding: 0 25px;
  float: left;
  transition: 400ms ease;
  color: black !important;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 50px;
}
.page-numbers:hover, .page-numbers.current {
  background-color: #033F72;
  color: #fff !important;
}
.page-numbers.prev:hover, .page-numbers.next:hover {
  background-color: transparent;
  color: #033F72 !important;
}
@media only screen and (max-width: 1199px) {
  .page-numbers {
    padding: 0 15px;
    font-size: 16px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .page-numbers {
    padding: 0 14px;
    display: none;
  }
  .page-numbers:nth-of-type(2) {
    position: relative;
    padding-right: 50px;
  }
  .page-numbers:nth-of-type(2)::after {
    content: '...';
    position: absolute;
    font-size: 25px;
    top: 0;
    left: 45px;
  }
  .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
    display: block;
  }
  .page-numbers:nth-last-child(-n+4) {
    padding-right: 14px;
  }
  .page-numbers:nth-last-child(-n+4)::after {
    content: none;
  }
}

.singleOverlay {
  position: absolute;
  top: 5%;
  height: 95%;
  width: 100%;
  z-index: 9000;
  background-color: red;
}

