<div class='{{loading ? "viewable" : "nonviewable"}}'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<br>
<div *ngIf="queryType == 'single'" class="relToggle">
  <mat-slide-toggle [disabled]="loading || (allArgs.length == relArgs.length)" *ngIf="allArgs.length > 0 " (toggleChange)='setRelevanceSingle()' class="afterAnnotated" color="primary" [checked]="!relevant">Datas menos relevantes</mat-slide-toggle>
</div>
<br><br>
<div *ngIf="noData"><h1>Sem informação para mostrar...</h1></div>

<div id='my-timeline' style="background-color: #f7f7f7; width: 100%; height: 380px"></div>
